{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if app.user and object.username != app.user.username %}
        <a href="{{ app.request.getBaseURL() }}?_switch_user={{ object.username }}" title="{{ 'switch_user'|trans({}, 'SonataAdminBundle')}}">
            <img src="{{ asset('bundles/sonataadmin/famfamfam/group_go.png') }}"  alt="{{ 'switch_user'|trans({}, 'SonataAdminBundle')}}" />
        </a>
    {% else %}
        -
    {% endif %}
{% endblock %}
