{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block rednose_prioritized_collection_row %}
    {% spaceless %}
        {% set attr = attr|merge({'data-prototype': block('rednose_prioritized_collection_prototype_row'), 'class': attr.class|default('form-group') }) %}

        {{ form_errors(form) }}

        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form) }}

            <div class="col-sm-9">
                    {% for child in form %}
                        {% if loop.index % 2 %}
                            <div class="row sonata-collection-row">

                            {% if allow_delete %}
                                <div class="col-md-1">
                                    <a href="#" class="btn btn-link sonata-collection-delete">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="col-md-5">
                            {{ form_row(child, { label: false }) }}
                        </div>

                        {% if not loop.index % 2 %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if allow_add %}
                        <div><a href="#" class="btn btn-link sonata-collection-add"><i class="fa fa-plus-circle"></i></a></div>
                    {% endif %}

             </div>
            </div>

        <script>
            $('div[id={{ id }}]').on('sonata-collection-item-added', function() {

                var counter = $('.col-md-6').length,
                    dataId  = null;

                $(this).find('*[name]').each(function() {
                    if (!dataId) {
                        dataId = $(this).closest('[data-id]').attr('data-id');

                        $(this).closest('[data-id]').removeAttr('data-id');
                    }

                    if ($(this).attr('data-set-name')) {
                        var name = $(this).attr('name'),
                            nameId = null;

                        if (name === 'priority') {
                            nameId = dataId.replace('_', '[');
                            nameId = nameId.replace('_', '][priority_' + counter + '_');

                            $(this).attr('name', nameId + ']');
                        } else {
                            nameId = dataId.replace('_', '[');
                            nameId = nameId.replace('_', '][{{ name }}_' + counter + '_');

                            $(this).attr('name', nameId + ']');
                        }

                        $(this).attr('data-set-name', null);
                    }
                });
            });
        </script>
    {% endspaceless %}
{% endblock  %}

{% block rednose_prioritized_collection_prototype_row %}
    <div class="row sonata-collection-row">
        {% if allow_delete %}
            <div class="col-md-1">
                <a href="#" class="btn btn-link sonata-collection-delete">
                    <i class="fa fa-minus-circle"></i>
                </a>
            </div>
        {% endif %}

        <div class="col-md-5" data-id="{{ id }}___name__">
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="text" class="form-control" id="{{ id }}" data-set-name="true" name="{{ name }}" />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <select id="{{ id }}_priority" data-set-name="true" name="priority">
                        <option value="0">Normal</option>
                        <option value="1">High</option>
                        <option value="2">Very High</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
