{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block rednose_prioritized_collection_row %}
    {% spaceless %}
        {% set attr = attr|merge({'data-prototype': block('rednose_prioritized_collection_prototype_row'), 'class': attr.class|default('form-group') }) %}

        {{ form_errors(form) }}

        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form) }}

            <div class="col-sm-9">
                {% for child in form %}
                    {% if loop.index % 2 %}
                        <div class="row sonata-collection-row">

                        <div class="col-md-1">
                            <a href="#" class="btn btn-link sonata-collection-delete">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </div>
                    {% endif %}

                    <div class="col-md-5">
                        {{ form_row(child, { label: false }) }}
                    </div>

                    {% if not loop.index % 2 %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div><a href="#" class="btn btn-link sonata-collection-add"><i class="fa fa-plus-circle"></i></a></div>
             </div>
            </div>

        <script>
            $('div[id={{ id }}]').on('sonata-collection-item-added', function() {
                var fieldId = '{{ id }}';

                fieldId = fieldId.replace('_', '[') + ']';

                var counter = $(this).find('select[name*=priority_]').length;

                $(this).find('*[name]').each(function() {
                    if ($(this).attr('data-set-name')) {
                        var name = $(this).attr('name');

                        if (name === 'priority') {
                            $(this).attr('name', fieldId + '[priority_' + counter + ']');
                        } else {
                            $(this).attr('name', fieldId + '[' + name + '_' + counter + ']');
                        }

                        $(this).attr('data-set-name', null);
                    }
                });
            });
        </script>
    {% endspaceless %}
{% endblock  %}

{% block rednose_prioritized_collection_prototype_row %}
    <div class="row sonata-collection-row">
        <div class="col-md-1">
            <a href="#" class="btn btn-link sonata-collection-delete">
                <i class="fa fa-minus-circle"></i>
            </a>
        </div>

        <div class="col-md-5" data-id="{{ id }}___name__">
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="text" class="form-control" id="{{ id }}" data-set-name="true" name="{{ name }}" />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <select id="{{ id }}_priority" data-set-name="true" name="priority">
                        <option value="0">Normal</option>
                        <option value="1">High</option>
                        <option value="2">Very High</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
