{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block rednose_prioritized_collection_row %}
    {% spaceless %}
        {% set attr = attr|merge({'data-prototype': block('rednose_prioritized_collection_prototype_row'), 'class': attr.class|default('row') }) %}

        {{ form_errors(form) }}

        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form) }}

            <div class="col-sm-10 prioritized-collection">
                {% for child in form %}
                    {% if loop.index % 2 %}
                        <div class="row collection-row">
                    {% endif %}

                    {% if priorities %}
                        <div {% if loop.index % 2 %}class="col-md-8"{% else %}class="col-md-3"{% endif %}>
                            <div class="form-group">
                                {{ form_widget(child, { label: false }) }}
                            </div>
                        </div>
                    {% else %}
                        <div {% if loop.index % 2 %}class="col-md-11"{% else %}style="display: none;"{% endif %}>
                            <div class="form-group">
                                {{ form_widget(child, { label: false }) }}
                            </div>

                            {{ form_widget(child, { label: false }) }}
                        </div>
                    {% endif %}

                    {% if not loop.index % 2 %}
                        <div class="col-md-1">
                            <a href="#" class="btn btn-default collection-delete pull-right">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                    {% endif %}

                    {% if not loop.index % 2 %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default pull-right collection-add"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var counter = $('div[id={{ id }}]').find('[name*=priority_]').length;

            var registerButtons = function () {
                // Add item was clicked
                $('div[id={{ id }}]').find('.collection-add').off('click');
                $('div[id={{ id }}]').find('.collection-add').on('click', function(e) {
                    e.preventDefault();

                    var container = $(this).closest('[data-prototype]'),
                        proto     = container.attr('data-prototype'),
                        protoName = '__name__';

                    // Set field id
                    var idRegexp = new RegExp(container.attr('id')+'_'+protoName,'g');
                    proto = proto.replace(idRegexp, container.attr('id')+'_'+counter);

                    // Append prototype
                    $(proto).insertBefore($(this).parent());

                    $(this).parent().trigger('collection-item-change');
                });

                // Remove item was clicked
                $('div[id={{ id }}]').find('.collection-delete').off('click');
                $('div[id={{ id }}]').find('.collection-delete').on('click', function (e) {
                    e.preventDefault();

                    $(this).closest('.collection-row').remove();
                });
            };

            registerButtons();

            // After a item was added
            $('div[id={{ id }}]').on('collection-item-change', function() {
                counter++;

                $(this).find('*[name]').each(function() {
                    if ($(this).attr('data-set-name')) {
                        var fieldId = $(this).attr('data-full-name'),
                            name    = $(this).attr('name');

                        if (name === 'priority') {
                            $(this).attr('name', fieldId + '[priority_' + counter + ']');
                        } else {
                            $(this).attr('name', fieldId + '[' + name + '_' + counter + ']');
                        }

                        $(this).attr('data-set-name', null);
                    }
                });

                registerButtons();
            });
        </script>
    {% endspaceless %}
{% endblock  %}

{% block rednose_role_collection_row %}
    <div class="role_collection_container" id="{{ full_name|replace({'[': '_', ']': '_'}) }}">
        <div class="role_template" data-template="true" ng-hide="true">
            <div class="datagrid-app-form-section">

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input id="name" class="form-control" value="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for role in all_roles %}
                        <div class="col-md-3">
                            <nobr><label><input id="chk{{ loop.index0 }}" value="{{ role }}" type="checkbox" />&nbsp;{{ role }}</label></nobr>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-11">
                <ul class="nav nav-tabs" style="border-bottom: 0;">
                </ul>
            </div>

            <div class="col-cs-1">
                <button class="btn btn-default add add-role-collection pull-right" onclick="return false;"><i class="fa fa-plus"></i></button>
            </div>
        </div>

        <div class="tab-pane fade" role="tabpanel">
        </div>
    </div>

    <script>
        var collectionRowCode_{{ full_name|replace({'[': '_', ']': '_'}) }} = function () {
            var containerId = '{{ full_name|replace({'[': '_', ']': '_'}) }}';
            var container   = $('#' + containerId);
            var tabNames    = [];
            var tabRoles     = {};

            function nameChange() {
                var nameField  = $(this),
                    instanceId = nameField.data('tab').attr('data-id');
                    caption    = nameField.val() ? nameField.val() : '(No name)';

                tabNames[instanceId] = caption;

                nameField.data('tab').find('a').html(caption);
            }

            function roleChange() {
                var checkboxField = $(this),
                    role          = checkboxField.attr('value'),
                    instanceId    = checkboxField.data('tab').attr('data-id');

                if (tabRoles[instanceId].indexOf(role) > -1) {
                    tabRoles[instanceId].splice(tabRoles[instanceId].indexOf(role), 1);
                } else {
                    tabRoles[instanceId].push(role);
                }
            }

            function addRoleCollection() {
                renderTab('(No name)', '[]');
            }

            function clickTab(tab) {
                var template = $(container.find('[data-template]').html());
                var data     = tabRoles[tab.attr('data-id')];

                $.each(data, function(idx, role) {
                    if (role) {
                        var roleCheckbox = template.find('input[value=' + role + ']');

                        roleCheckbox.attr('checked', 'checked');
                    }
                });

                template.find('input[type=checkbox]').each(function () {
                    var roleCheckbox = $(this);

                    roleCheckbox.on('change', roleChange);
                    roleCheckbox.data('tab', tab);
                });

                var nameField = template.find('#name');

                nameField.val(tabNames[tab.attr('data-id')]);
                nameField.data('tab', tab);
                nameField.on('change', nameChange);
                nameField.on('keyup', nameChange);

                container.find('li.active').removeClass('active');
                container.find('.tab-pane').find('*').remove();
                container.find('.tab-pane').append(template);
                container.find('.tab-pane').css('opacity', 1);

                tab.addClass('active');
            }

            function deleteTab(tab) {
                var instanceId = tab.attr('data-id');

                delete tabNames[instanceId];
                delete tabRoles[instanceId];

                tab.remove();
            }

            function renderTab(name, data, id) {
                var instanceId = id;
alert(id);
                data = data.replace(/&quot;/g, '"', data);

                var uuid = function() {
                    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);

                        return v.toString(16);
                    });
                };

                if (!instanceId) {
                    instanceId = uuid();
                }

                tabNames[instanceId] = name;
                tabRoles[instanceId] = JSON.parse(data);

                var tab = $(
                    '<li class="nav-item" data-id="' + instanceId + '">\n' +
                    '    <a onclick="return false;" href="#">' + name + '&nbsp;<i class="fa fa-remove"></i></a>\n' +
                    '</li>'
                );

                tab.on('click', function() {
                    clickTab($(this));
                });

                tab.find('.fa-remove').on('click', function() {
                    if (confirm('Remove role collection?')) {
                        deleteTab($(this).closest('li'));
                    }
                });

                container.find('.nav-tabs').append(tab);

                return tab;
            }

            container.find('.add-role-collection').on('click', addRoleCollection);

            container.closest('form').on('submit', function () {
                var form = $(this);

                for (var instanceId in tabNames) {
                    var nameInput = $('<input data-mutex="' + instanceId + '" name="{{ full_name }}[name][]" />'),
                        roleInput = $('<input data-mutex="' + instanceId + '" name="{{ full_name }}[roles][]" />'),
                        roleIds   = $('<input data-mutex="' + instanceId + '" name="{{ full_name }}[ids][]" />');

                    roleIds.val(instanceId);
                    nameInput.val(tabNames[instanceId]);
                    roleInput.val(tabRoles[instanceId].join(','));

                    // Remove left-over elements if an exception has occurred in the past.
                    form.find('input[data-mutex=' + instanceId + ']').remove();

                    form.append(roleIds);
                    form.append(nameInput);
                    form.append(roleInput);
                }
            });

            {% for name in names %}
                var tab = renderTab('{{ name }}', '{{ roles[loop.index0] }}', '{{ ids[loop.index0] }}');

                {% if loop.index0 == 0 %}
                    clickTab(tab);
                {% endif %}
            {% endfor %}
        };

        collectionRowCode_{{ full_name|replace({'[': '_', ']': '_'}) }}();
    </script>
{% endblock %}

{% block rednose_prioritized_collection_prototype_row %}
    <div class="row collection-row">
        {% if priorities %}
            <div class="col-md-8" data-id="{{ id }}___name__">
                <div class="form-group">
                    <input type="text" class="form-control" id="{{ id }}" data-full-name="{{ full_name }}" data-set-name="true" name="{{ name }}" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="{{ id }}_priority" data-full-name="{{ full_name }}" data-set-name="true" name="priority">
                        <option value="0">Normal</option>
                        <option value="1">High</option>
                        <option value="2">Very High</option>
                    </select>
                </div>
            </div>
        {% else %}
            <div class="col-md-11" data-id="{{ id }}___name__">
                <div class="form-group">
                    <input type="text" class="form-control" id="{{ id }}" data-set-name="true" data-full-name="{{ full_name }}" name="{{ name }}" />
                    <input type="hidden" class="form-control" id="{{ id }}_priority" data-full-name="{{ full_name }}" data-set-name="true" value="0" name="priority" />
                </div>
            </div>
        {% endif %}
        <div class="col-md-1">
            <a href="#" class="btn btn-default collection-delete pull-right">
                <i class="fa fa-minus"></i>
            </a>
        </div>

    </div>
{% endblock  %}
