{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block rednose_prioritized_collection_row %}
    {% spaceless %}
        {% set attr = attr|merge({'data-prototype': block('rednose_prioritized_collection_prototype_row'), 'class': attr.class|default('form-group') }) %}

        {{ form_errors(form) }}

        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form) }}

            <div class="col-sm-10 prioritized-collection">
                {% for child in form %}
                    {% if loop.index % 2 %}
                        <div class="row collection-row">

                        <div class="col-md-1">
                            <a href="#" class="btn btn-link collection-delete">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </div>
                    {% endif %}

                    {% if priorities %}
                        <div {% if loop.index % 2 %}class="col-md-8"{% else %}class="col-md-2"{% endif %}>
                            <div class="form-group">
                                {{ form_widget(child, { label: false }) }}
                            </div>
                        </div>
                    {% else %}
                        <div {% if loop.index % 2 %}class="col-md-11"{% else %}style="display: none;"{% endif %}>
                            <div class="form-group">
                                {{ form_widget(child, { label: false }) }}
                            </div>

                            {{ form_widget(child, { label: false }) }}
                        </div>
                    {% endif %}

                    {% if not loop.index % 2 %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="row">
                    <div class="col-md-1">
                        <a href="#" class="btn btn-link collection-add"><i class="fa fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var counter = $('div[id={{ id }}]').find('[name*=priority_]').length;

            var registerButtons = function () {
                // Add item was clicked
                $('div[id={{ id }}]').find('.collection-add').off('click');
                $('div[id={{ id }}]').find('.collection-add').on('click', function(e) {
                    e.preventDefault();

                    var container = $(this).closest('[data-prototype]'),
                        proto     = container.attr('data-prototype'),
                        protoName = '__name__';

                    // Set field id
                    var idRegexp = new RegExp(container.attr('id')+'_'+protoName,'g');
                    proto = proto.replace(idRegexp, container.attr('id')+'_'+counter);

                    // Append prototype
                    $(proto).insertBefore($(this).parent());

                    $(this).parent().trigger('collection-item-change');
                });

                // Remove item was clicked
                $('div[id={{ id }}]').find('.collection-delete').off('click');
                $('div[id={{ id }}]').find('.collection-delete').on('click', function (e) {
                    e.preventDefault();

                    $(this).closest('.collection-row').remove();
                });
            }

            registerButtons();

            // After a item was added
            $('div[id={{ id }}]').on('collection-item-change', function() {
                counter++;

                $(this).find('*[name]').each(function() {
                    if ($(this).attr('data-set-name')) {
                        var fieldId = $(this).attr('data-full-name'),
                            name    = $(this).attr('name');

                        if (name === 'priority') {
                            $(this).attr('name', fieldId + '[priority_' + counter + ']');
                        } else {
                            $(this).attr('name', fieldId + '[' + name + '_' + counter + ']');
                        }

                        $(this).attr('data-set-name', null);
                    }
                });

                registerButtons();
            });
        </script>
    {% endspaceless %}
{% endblock  %}

{% block rednose_prioritized_collection_prototype_row %}
    <div class="row collection-row">
        <div class="col-md-1">
            <a href="#" class="btn btn-link collection-delete">
                <i class="fa fa-minus-circle"></i>
            </a>
        </div>
        {% if priorities %}
            <div class="col-md-8" data-id="{{ id }}___name__">
                <div class="form-group">
                    <input type="text" class="form-control" id="{{ id }}" data-full-name="{{ full_name }}" data-set-name="true" name="{{ name }}" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <select class="form-control" id="{{ id }}_priority" data-full-name="{{ full_name }}" data-set-name="true" name="priority">
                        <option value="0">Normal</option>
                        <option value="1">High</option>
                        <option value="2">Very High</option>
                    </select>
                </div>
            </div>
        {% else %}
            <div class="col-md-11" data-id="{{ id }}___name__">
                <div class="form-group">
                    <input type="text" class="form-control" id="{{ id }}" data-set-name="true" data-full-name="{{ full_name }}" name="{{ name }}" />
                    <input type="hidden" class="form-control" id="{{ id }}_priority" data-full-name="{{ full_name }}" data-set-name="true" value="0" name="priority" />
                </div>
            </div>
        {% endif %}
    </div>
{% endblock  %}
