{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block rednose_prioritized_collection_row %}
    {% spaceless %}
        {% set attr = attr|merge({'data-prototype': block('rednose_prioritized_collection_prototype_row'), 'class': attr.class|default('row') }) %}

        {{ form_errors(form) }}

        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form) }}

            <div class="col-sm-10 prioritized-collection">
                {% for child in form %}
                    {% if loop.index % 2 %}
                        <div class="row collection-row">
                    {% endif %}

                    {% if priorities %}
                        <div {% if loop.index % 2 %}class="col-md-8"{% else %}class="col-md-3"{% endif %}>
                            <div class="form-group">
                                {{ form_widget(child, { label: false }) }}
                            </div>
                        </div>
                    {% else %}
                        <div {% if loop.index % 2 %}class="col-md-11"{% else %}style="display: none;"{% endif %}>
                            <div class="form-group">
                                {{ form_widget(child, { label: false }) }}
                            </div>

                            {{ form_widget(child, { label: false }) }}
                        </div>
                    {% endif %}

                    {% if not loop.index % 2 %}
                        <div class="col-md-1">
                            <a href="#" class="btn btn-default collection-delete pull-right">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                    {% endif %}

                    {% if not loop.index % 2 %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default pull-right collection-add"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var counter = $('div[id={{ id }}]').find('[name*=priority_]').length;

            var registerButtons = function () {
                // Add item was clicked
                $('div[id={{ id }}]').find('.collection-add').off('click');
                $('div[id={{ id }}]').find('.collection-add').on('click', function(e) {
                    e.preventDefault();

                    var container = $(this).closest('[data-prototype]'),
                        proto     = container.attr('data-prototype'),
                        protoName = '__name__';

                    // Set field id
                    var idRegexp = new RegExp(container.attr('id')+'_'+protoName,'g');
                    proto = proto.replace(idRegexp, container.attr('id')+'_'+counter);

                    // Append prototype
                    $(proto).insertBefore($(this).parent());

                    $(this).parent().trigger('collection-item-change');
                });

                // Remove item was clicked
                $('div[id={{ id }}]').find('.collection-delete').off('click');
                $('div[id={{ id }}]').find('.collection-delete').on('click', function (e) {
                    e.preventDefault();

                    $(this).closest('.collection-row').remove();
                });
            };

            registerButtons();

            // After a item was added
            $('div[id={{ id }}]').on('collection-item-change', function() {
                counter++;

                $(this).find('*[name]').each(function() {
                    if ($(this).attr('data-set-name')) {
                        var fieldId = $(this).attr('data-full-name'),
                            name    = $(this).attr('name');

                        if (name === 'priority') {
                            $(this).attr('name', fieldId + '[priority_' + counter + ']');
                        } else {
                            $(this).attr('name', fieldId + '[' + name + '_' + counter + ']');
                        }

                        $(this).attr('data-set-name', null);
                    }
                });

                registerButtons();
            });
        </script>
    {% endspaceless %}
{% endblock  %}

{% block rednose_role_collection_row %}

    <div class="role_collection_container" id="{{ full_name|replace({'[': '_', ']': '_'}) }}">
        <div class="role_template" data-template="true" ng-hide="true">
            <div class="datagrid-app-form-section">

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input name="{{ full_name }}[name][__offset__]" class="form-control" value="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for role in all_roles %}
                        <div class="col-md-3">
                            <nobr><label><input name="{{ loop.index0 }}" value="{{ role }}" type="checkbox" />&nbsp;{{ role }}</label></nobr>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-11">
                <ul class="nav nav-tabs" style="border-bottom: 0;">
                </ul>
            </div>

            <div class="col-cs-1">
                <button class="btn btn-default add pull-right" onclick="return false;"><i class="fa fa-plus"></i></button>
            </div>
        </div>

        <div class="tab-pane fade" role="tabpanel">
        </div>
    </div>
    <script>
        var containerId = '{{ full_name|replace({'[': '_', ']': '_'}) }}';
        var container   = $('#' + containerId);
        var tabData     = {};

        function clickTab(tab) {
            var template = container.find('[data-template]');
            var data = tabData[tab.attr('data-name')];
            
            $.each(data, function(idx, role) {
                var roleCheckbox = $('input[value=' + role + ']');

                roleCheckbox.attr('checked', 'checked');
            });

            tab.addClass('active');

            container.find('.tab-pane').html(template.html());
            container.find('.tab-pane').css('opacity', 1);
        }

        function renderTab(name, data) {
            data = data.replace(/&quot;/g, '"', data);

            tabData[name] = JSON.parse(data);

            var tab = $(
                '<li class="nav-item" data-name="' + name +'">\n' +
                '    <a onclick="return false;" href="#">' + name + '</a>\n' +
                '</li>'
            );

            tab.on('click', function() {
                clickTab($(this));
            });

            container.find('.nav-tabs').append(tab);

            return tab;
        }

        $('form[method=POST]').on('submit', function () {
            alert('submit?');
        });

        {% for name in names %}
            var tab = renderTab('{{ name }}', '{{ roles[loop.index0] }}');

            {% if loop.index0 == 0 %}
                clickTab(tab);
            {% endif %}

        {% endfor %}
    </script>
{% endblock %}

{% block rednose_prioritized_collection_prototype_row %}
    <div class="row collection-row">
        {% if priorities %}
            <div class="col-md-8" data-id="{{ id }}___name__">
                <div class="form-group">
                    <input type="text" class="form-control" id="{{ id }}" data-full-name="{{ full_name }}" data-set-name="true" name="{{ name }}" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="{{ id }}_priority" data-full-name="{{ full_name }}" data-set-name="true" name="priority">
                        <option value="0">Normal</option>
                        <option value="1">High</option>
                        <option value="2">Very High</option>
                    </select>
                </div>
            </div>
        {% else %}
            <div class="col-md-11" data-id="{{ id }}___name__">
                <div class="form-group">
                    <input type="text" class="form-control" id="{{ id }}" data-set-name="true" data-full-name="{{ full_name }}" name="{{ name }}" />
                    <input type="hidden" class="form-control" id="{{ id }}_priority" data-full-name="{{ full_name }}" data-set-name="true" value="0" name="priority" />
                </div>
            </div>
        {% endif %}
        <div class="col-md-1">
            <a href="#" class="btn btn-default collection-delete pull-right">
                <i class="fa fa-minus"></i>
            </a>
        </div>

    </div>
{% endblock  %}
