{% extends 'RednoseFrameworkBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/rednoseframework/css/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}{% trans %}Change password{% endtrans %}{% endblock %}

{% block content %}

    <div class="content">
        <h2>{% trans %}Change password{% endtrans %}</h2>
        <form action="{{ path('rednose_framework_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            <div class="footer">
                <input  class="btn btn-primary pull-right" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>

{% endblock %}
