{% block field_help %}
    {% if help is defined and help is not null %}
        <span class="help-block">{{ help }}</span>
        <i class="help-icon icon-info-sign"></i>
    {% endif %}
{% endblock %}

{% block form_row %}
{% spaceless %}
    <div>
        <div>
            {{ block('field_help') }}
            {{ form_label(form, label|default(null)) }}
        </div>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}
