{% block field_help %}
    {% if help is defined and help is not null %}
        <span class="help-block">{{ help }}</span>
    {% endif %}
{% endblock %}

{% block field_row %}
{% spaceless %}
    <div>
        <div class="labelspan">
            {{ form_label(form, label|default(null)) }}
            {{ block('field_help') }}
        </div>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock field_row %}
